<div id="<%= dom_id order_detail %>">
  <p>
    <strong>Order:</strong>
    <%= order_detail.order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order_detail.product_id %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= order_detail.cantidad %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= order_detail.precio %>
  </p>

</div>
