<div id="<%= dom_id banner %>">
  <p>
    <strong>Fecha:</strong>
    <%= banner.fecha %>
  </p>

  <p>
    <strong>Vigencia:</strong>
    <%= banner.vigencia %>
  </p>

  <p>
    <strong>Promocion:</strong>
    <%= banner.promocion %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= banner.image %>
  </p>

</div>
