<div id="<%= dom_id customer %>">
  <p>
    <strong>Codigo:</strong>
    <%= customer.codigo %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= customer.nombre %>
  </p>

  <p>
    <strong>Paterno:</strong>
    <%= customer.paterno %>
  </p>

  <p>
    <strong>Materno:</strong>
    <%= customer.materno %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= customer.rut %>
  </p>

  <p>
    <strong>Nombre complet:</strong>
    <%= customer.nombre_complet %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= customer.direccion %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= customer.ciudad %>
  </p>

  <p>
    <strong>Pais:</strong>
    <%= customer.pais %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= customer.telefono %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= customer.correo %>
  </p>

  <p>
    <strong>User:</strong>
    <%= customer.user_id %>
  </p>

</div>
