<div id="<%= dom_id order %>">
  <p>
    <strong>Fecha:</strong>
    <%= order.fecha %>
  </p>

  <p>
    <strong>Folio:</strong>
    <%= order.folio %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Estatus:</strong>
    <%= order.estatus %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

</div>
