<div id="<%= dom_id cart %>">
  <p>
    <strong>User:</strong>
    <%= cart.user_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= cart.fecha %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= cart.cantidad %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= cart.product_id %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= cart.precio %>
  </p>

  <p>
    <strong>Pedido:</strong>
    <%= cart.pedido %>
  </p>

</div>
