<div id="<%= dom_id product %>">
  <p>
    <strong>Codigo:</strong>
    <%= product.codigo %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= product.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= product.descripcion %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= product.precio %>
  </p>

  <p>
    <strong>Existencia:</strong>
    <%= product.existencia %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

</div>